<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
     <h1 class="text-center">このサイトについて</h1>
      <p class="text-center">Game Reviewはゲームを楽しみたいすべてのゲームプレイヤーのためのゲーム情報サイトです。<br></p>
      <p class="text-center">Game Reviewでは購入を検討しているゲームの情報を検索したり、<br></p>
      <p class="text-center">すでにプレイ済みのゲームのレビューを投稿したりできます。<br></p>
      <p class="text-center">ゲームの購入前、プレイ後にぜひご利用ください。<br></p>
    </div>
  </div>
</div>