<div class="col-md-3">
  <h2>User info</h2>
  <div class="img"><%= image_tag user.get_profile_image(100,100) %></div>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= customerr.name %></th>
      </tr>
      <tr>
    	  <th>The number of reviews</th>
    	  <th></th>
      </tr>
    </tbody>
  </table>
</div>