<div class="col-md-3">
  <h2>会員情報</h2>
  <div class="img"><%= image_tag customer.get_profile_image(100,100) %></div>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>会員ネーム</th>
        <th><%= customer.name %></th>
      </tr>
      <tr>
    	  <th>レビュー投稿数</th>
    	  <th><%= customer.posts.count %></th>
      </tr>
    </tbody>
  </table>
  <div class="col">
    <div>
      <%= link_to(edit_customer_path(customer), class:"btn btn-outline-dark btn-block") do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>
  </div>
</div>